body {
  background-color: #1b1b32;
  color: white;
  font-family: Arial;
}

h1 {
  text-align: center;
  margin-top: 40px;
}

#description {
  text-align: center;
  font-size: 18px;
}

form {
  background-color: #2b2b45;
  width: 600px;
  margin: 30px auto;
  padding: 30px;
}

label {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding: 10px;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline;
  width: auto;
}

#submit {
  background-color: #37af65;
  color: white;
  border: none;
  font-size: 18px;
}